<body>



    <div class="main-wrapper">

        <div class="header">

            <div class="header-left">
                <a href="index.html" class="logo">
                    <img src="~/~/assets/img/logo.png" alt="Logo">
                </a>
                <a asp-area="Identity" asp-page="/Account/Register" class="logo logo-small">
                    التسجيل كادمن
                </a>
            </div>

            <div class="menu-toggle">
                <a href="javascript:void(0);" id="toggle_btn">
                    <i class="fas fa-bars"></i>
                </a>
            </div>

            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="ابحث هنا">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>


            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>


            <ul class="nav user-menu">

                <li class="nav-item dropdown language-drop me-2">
                    <a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
                        <img src="~/~/assets/img/icons/header-icon-01.svg" alt="">
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:;"><i class="flag flag-lr me-2"></i>English</a>
                        <a class="dropdown-item" href="javascript:;"><i class="flag flag-bl me-2"></i>Francais</a>
                        <a class="dropdown-item" href="javascript:;"><i class="flag flag-cn me-2"></i>Turkce</a>
                    </div>
                </li>
                <!-- اللغات------------------------------------------------------------------------------->
                <li class="nav-item dropdown noti-dropdown me-2">
                    <a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
                        <img src="~/~/assets/img/icons/header-icon-05.svg" alt="">
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image"
                                                     src="~/~/assets/img/profiles/avatar-02.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title">Carlson Tech</span> has
                                                    approved <span class="noti-title">your estimate</span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">4 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image"
                                                     src="~/~/assets/img/profiles/avatar-11.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title">
                                                        International Software
                                                        Inc
                                                    </span> has sent you a invoice in the amount of <span class="noti-title">$218</span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">6 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image"
                                                     src="~/~/assets/img/profiles/avatar-17.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title">John Hendry</span> sent
                                                    a cancellation request <span class="noti-title">
                                                        Apple iPhone
                                                        XR
                                                    </span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">8 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media d-flex">
                                            <span class="avatar avatar-sm flex-shrink-0">
                                                <img class="avatar-img rounded-circle" alt="User Image"
                                                     src="~/~/assets/img/profiles/avatar-13.jpg">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details">
                                                    <span class="noti-title">
                                                        Mercury Software
                                                        Inc
                                                    </span> added a new product <span class="noti-title">
                                                        Apple
                                                        MacBook Pro
                                                    </span>
                                                </p>
                                                <p class="noti-time">
                                                    <span class="notification-time">12 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="#">View all Notifications</a>
                        </div>
                    </div>
                </li>
                <!-- وضع ملء الشاشة ----------------------------->
                <li class="nav-item zoom-screen me-2">
                    <a href="#" class="nav-link header-nav-list">
                        <img src="~/~/assets/img/icons/header-icon-04.svg" alt="">
                    </a>
                </li>
                <!-- وضع ملء الشاشة ----------------------------->

                <li class="nav-item dropdown has-arrow new-user-menus">
                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img class="rounded-circle" src="~/~/assets/img/profiles/avatar-01.jpg" width="31"
                                 alt="Soeng Souy">
                            <div class="user-text">
                                <h6>علي محمد</h6>
                                <a asp-area="Identity" asp-page="/Account/Register" class="logo logo-small">
                                    التسجيل كادمن
                                </a>
                                <p class="text-muted mb-0">الأدمن</p>
                            </div>
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="~/~/assets/img/profiles/avatar-01.jpg" alt="User Image"
                                     class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>علي محمد</h6>
                                <p class="text-muted mb-0">الأدمن</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="profile.html">الملف الشخصي</a>
                        <a class="dropdown-item" href="inbox.html">صندوق الوارد</a>
                        <a class="dropdown-item" href="login.html">تسجيل الخروج</a>
                    </div>
                </li>

            </ul>

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>القائمة الرئيسية</span>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="feather-grid"></i><span class="menu-arrow"></span> <span> لوحة التحكم</span> </a>
                            <ul>
                                <li><a href="index.html">لوحة التحكم</a></li>

                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-users"></i> <span>  الفروع</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-action="Index" asp-controller="Branch">قائمة الفروع</a></li>
                                <li><a asp-action="New" asp-controller="Branch">إضافة فروع </a></li>
                                <li><a asp-action="Edit" asp-controller="Item">تعديل بيانات الفروع</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-users"></i> <span>  النقاط</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-action="Index" asp-controller="Item">قائمة النقاط</a></li>
                                <li><a asp-action="New" asp-controller="Item">إضافة نقاط </a></li>
                                <li><a asp-action="Edit" asp-controller="Item">تعديل بيانات النقاط</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> المشتركين</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-action="Index" asp-controller="Subscribers">قائمة المشتركين</a></li>
                                <li><a asp-action="Details" asp-controller="Subscribers">عرض المشتركين </a></li>
                                <li><a asp-action="Create" asp-controller="Subscribers">إضافة مشترك</a></li>
                                <li><a asp-action="Edit" asp-controller="Subscribers">تعديل بيانات مشترك</a></li>
                                <li><a asp-action="Delete" asp-controller="Subscribers">حذف بيانات مشترك</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-building"></i> <span> النقاط</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="points.html">قائمة النقاط</a></li>
                                <li><a href="add-point.html">إضافة نقطة</a></li>
                                <li><a href="edit-point.html">تعديل بيانات نقطة</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-newspaper"></i> <span> الفروع</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-action="Index" asp-controller="Readings">قائمة الفروع</a></li>
                                <li><a a asp-action="Creat" asp-controller="Readings">إضافة فرع</a></li>
                                <li><a a asp-action="Edite" asp-controller="Readings">تعديل بيانات فرع</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-book-reader"></i> <span> العدادات</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a a asp-action="Index" asp-controller="Meter">قائمة العدادات</a></li>
                                <li><a a asp-action="New" asp-controller="Meter">إضافة عداد</a></li>
                                <li><a href="edit-meter.html">تعديل بيانات عداد</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-clipboard"></i> <span> الفواتير</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="invoices.html">قائمة الفواتير</a></li>
                                <li><a href="invoice-grid.html">الفواتير</a></li>
                                <li><a a asp-action="Create" asp-controller="Subscriptions">إضافة فاتورة</a></li>
                                <li><a href="edit-invoice.html">تعديل بيانات فاتورة</a></li>
                                <li><a href="view-invoice.html">تفاصيل الفاتورة</a></li>
                                <li>
                                    <a asp-action="index" asp-controller="Role">الصلاحيات</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-title">
                            <span>Management</span>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Accounts</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="fees-collections.html">Fees Collection</a></li>
                                <li><a href="expenses.html">Expenses</a></li>
                                <li><a href="salary.html">Salary</a></li>
                                <li><a href="add-fees-collection.html">Add Fees</a></li>
                                <li><a href="add-expenses.html">Add Expenses</a></li>
                                <li><a href="add-salary.html">Add Salary</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        @*    @if (User.Identity.IsAuthenticated)*@
        @*{*@
        <div>
            @RenderBody()
        </div>
        @*}*@
        <script src="~/assets/js/jquery-3.6.0.min.js"></script>
        <script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/assets/js/feather.min.js"></script>
        <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="~/assets/plugins/apexchart/apexcharts.min.js"></script>
        <script src="~/assets/plugins/apexchart/chart-data.js"></script>
        <script src="~/assets/js/script.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>